[submodule "crates/novomodelo-solver/vendor/HiGHS"]
	path = crates/novomodelo-solver/vendor/HiGHS
	url = https://github.com/ERGO-Code/HiGHS.git
[submodule "crates/novomodelo-solver/vendor/Clp"]
	path = crates/novomodelo-solver/vendor/Clp
	url = https://github.com/coin-or/Clp.git
[submodule "crates/novomodelo-solver/vendor/CoinUtils"]
	path = crates/novomodelo-solver/vendor/CoinUtils
	url = https://github.com/coin-or/CoinUtils.git
[submodule "crates/novomodelo-sddp/vendor/qhull"]
	path = crates/novomodelo-sddp/vendor/qhull
	url = https://github.com/qhull/qhull.git
